.container {
    display: flex;
}

.pageContainer {
    /* text-align: center; */
    width: 32px;
    height: 32px;
    border: solid 1px var(--white-three);
    background-color: var(--white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContainer img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.activePage {
    /* text-align: center; */
    /* margin: auto; */
    width: 32px;
    height: 32px;
    border: solid 1px var(--pale-orange);
    background-color: var(--pale-orange);
    color: var(--white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
