.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    /* width: 100%; */
    margin: 0px 80px 20px 80px;
    align-items: stretch;
}
.title {
    font-size: 3.2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey);
}
.button {
    width: 100%;
}

.switch {
    font-size: 1.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--greyish-brown);
    border-top: 2px solid var(--white-three);
    width: 100%;
    padding-top: 24px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.form-err {
    font-size: 1.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: var(--strawberry);
    margin: 0;
}

.description {
    font-size: 1.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
}

.toast-text {
    font-size: 1.4rem;
}
