.container {
    position: relative;
}

.child {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-text {
    font-family: 'Domine';
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    color: var(--white);
    line-height: 1rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ececec;
    margin: 10px 0;
}

.button {
    color: var(--white);
    padding: 12px 10px;
    display: inline;
    width: 60%;
}
.button:hover {
    color: var(--white);
}
