a {
    text-decoration: none;
}

.badge {
    /* background-color: var(--pale-orange); */
    font-size: 1.2rem;
    background: var(--pale-orange);
    color: #fff;
    padding: 1px 5px;
    vertical-align: top;
    margin-left: -15px;
    border-radius: 100px;
}
