.outlined-button {
    border-radius: 100px;
    font-weight: bold;
    font-size: 1.4rem;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
}

.outlined-button:hover,
.outlined-button:active {
    border-radius: 100px;
    color: var(--white);
}
