.text-button,
.text-button:hover,
.text-button:active,
.text-button:focus {
    color: var(--greyish-brown);
    text-decoration: none;
    box-shadow: none;
    margin-right: 10px;
    font-size: 1.4rem;
}
