.a {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--pumpkin-orange);
    border-bottom: 2px solid var(--pumpkin-orange);
}

.a:hover {
    color: var(--pale-orange);
    border-bottom: 2px solid var(--pale-orange);
}
