.mycontainer {
    position: relative;
    padding: 0;
}

.large-text {
    font-family: 'Domine';
    font-weight: bold;
    font-size: 4.8rem;
    position: absolute;
    top: 10%;
    right: 10%;
    text-transform: uppercase;
    color: var(--white);
}

.button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    height: 50px;
    font-size: 1.6rem;
}
.button:hover {
    background-color: var(--pumpkin-orange);
}
