.container {
    /* border-top: 2px solid var(--dark-grey); */
    height: '190px';
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.08),
        0 -1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white);
}
