/* .dropdown {
    position: relative;
} */

.dropdown-btn {
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-grey);
    background-color: transparent;
    border: none;
    outline: none;
}

.dropdown-btn:hover {
    color: var(--pale-orange);
}

.dropdown-content {
    position: absolute;
    transform: translateX(-51%);
    margin-top: 15px;
    min-width: 160px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: solid 0.5px var(--white-six);
    background-color: var(--white-five);
    padding: 12px 20px;
    z-index: 1;
}

.dropdown-content a {
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-grey);
    padding: 16px 22px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

.dropdown-content a:hover {
    color: var(--pale-orange);
}
